
nav li{
    display:inline;
    padding: 10px;
  
    font-size: larger;

  }
  
nav a:hover{
    color: white;
    text-decoration: underline white 2px;
}

  nav a{
    text-decoration: none;
    color: white;
  }
  #footer{
    float: right;
    
   
  }
nav{
    flex-wrap: wrap;
    float: right;

    padding-right: 50px;
    position: relative;
    top: 25px;
    right: 20px;
}

body{
    background-color: #333333;
}

.container{
    color: white;
}

#dissapointment{
    text-align: center;
    justify-content: center;
    padding-top: 250px;
}
.btn.btn-primary{
    border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}
