@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

html,
body {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.container {
  min-width: 100vw;
  padding: 0;
  display: table;
  margin: 0px;
  background-color: black;
}

body .navbar {
  overflow: hidden;
  border-radius: 0%;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
}

#logo {
  font-family: Brush Script MT, serif;
  float: left;
}

.navbar a:hover {
  text-decoration: none;
  background: white;
  color: black;
}

.navbar a {
  text-decoration: none;
  color: white;
  float: right;
  display: block;
  color: black;
  padding: 14px 16px;
  transition: 1s;
}

.navbar a {
  color: white;
}

section {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

section div {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

section:nth-of-type(1) {
  background-image: url("/website/images/home-page-title-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: whitesmoke;
  margin-bottom: 10px;
  min-height: 100%;
  padding-top: 20%;
}

section:nth-of-type(2) {
  color: black;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 20px;
  min-height: 80%;
  padding-bottom: 0;
  display: flex   ;
  align-items: center;
}

section:nth-of-type(2) div {
  padding: 0;
  margin: 0%;
  min-height: 80vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

section:nth-of-type(2) div p{

    border-left: 1px solid black;

}

section:nth-of-type(3) {
  color: white;
  padding-top: 50px;
  margin-top: 20px;
  min-height: 1%;
  padding-bottom: 75px;
  margin-bottom: 0px;
  background-color: black;
}

section:nth-of-type(4){
  background-image: url("images/pencils.jpg");
  min-height: 30%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
}

body .row {
  margin: 0;
  padding: 0;
  margin-top: 0%;
  justify-content: center;
  display: flex;
  align-items: center;
}

body .col-md-4 {
  margin-top: 0;
  padding-top: 0;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  margin: 0%;
  padding: 0%;
  font-size: large;
}

footer small {
  font-size: xx-small;
}

.button {
  background-color: transparent;
  outline: white 1px;
  color: white;
  text-decoration: none;
}
#news {
  padding-left: 20px;
  padding-right: 20px;
}
footer {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  background-color: black;
  color: white;
  padding-top: 50px;
  min-height: 30%;
  
}
.column {
  float: left;
  width: 33%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  
}
li{
  list-style: none;  
  padding: 0;
  margin: 0%;
  color: white;
  font-family: "Montserrat", sans-serif; 
}
li a{
  color: white;
  font-family: "Montserrat", sans-serif;
}
.column p a{
  color: white;
  font-family: "Montserrat", sans-serif; 
}
.column p{
  font-family: "Montserrat", sans-serif;
}

li a:hover{
  text-decoration: none;
  color: white;
  
}
