h1{
  font-family: Brush Script MT ,serif;
  font-size: 100px;
  border: 2px solid rgb(105, 201, 42);
}	


.navbar a{
  text-decoration: none;
  color: black;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  
}

.hero {
   padding: 1000px 0;
   margin: 30px;
   background-image: url("https://t3.ftcdn.net/jpg/00/63/64/44/360_F_63644418_B5gPj0uMuWgJSEWW1sr0Kc5akw9hBQYC.jpg");
   background-size: contain;
   
}

.top {
  text-align: center;
}

#poem {
  color: #FFD700;
  font-family: Courier New;
  text-align:center;
}

.navbar{
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
}

.navbar a:hover{
  background: white;
  color: black;
}

.navbar a{
  color: white;
}

.main{
  margin-top: 30px;
}
