<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Jag Store</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap"
        rel="stylesheet"
      />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
      <script src="https://kit.fontawesome.com/352c950f92.js" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
        rel="stylesheet"
      />
    <link href="{{ url_for('static',filename='styles/index.css')}}" rel='stylesheet' type='text/css'>


</head>

    <section id="welcome">
      <a class="title_btn " href="#intro">Get a Jag</a>
    </section>

 
      <nav>
        <span class="nav_left">
      <a class="btn">HOVER</a>
        </span>
          <span class="nav_center">
            <h1>Jag</h1>
          </span>
          <span class="nav_right">

      {% if g.user %}
      <span>{{ g.user['username'] }}</span>
     <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
          </span>
      </nav>
  

    <section id="contact">
        <div class="container">
            <h1 id="title">We would LOVE to hear from you</h1>
      
            <div class="contact-container">
              <div class="contact-details">
               <h2>For business enquiries:</h2>
                <p><i>scrambledegg@jag.store</i></p>
              </div>
              <div class="contact-details">
                <h2>For other enquiries:</h2>
                <p><i>trashcan@jag.store</i></p>
              </div>
              <div class="contact-details">
                <div id="icons">
                    <i class="fa-brands fa-facebook-f fa icon"></i>
                    <i class="fa-brands fa-twitter fa icon"></i>
                    <i class="fa-brands fa-instagram fa icon"></i>
                    <i class="fa-brands fa-linkedin fa icon"></i>
                    <i class="fa-brands fa-tiktok fa icon"></i>
                </div>
                </div>
              </div>
            </div>
    </section>



</body>

</html>