.background {
  background-image: url("/back.svg");
  background-repeat: repeat;
  background-size: 30px;
}

.darkBackground {
  background-image: url("/darkBack.svg");
  background-repeat: repeat;
  background-size: 30px;
}

html, body {
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Edge */
}
