@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@100..900&display=swap');

.background {
  background-image: url("/back.svg");
  background-repeat: repeat;
  background-size: 30px;
}

.darkBackground {
  background-image: url("/darkBack.svg");
  background-repeat: repeat;
  background-size: 30px;
}

html, body {
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Edge */
}
