@import "../../globals.css";

.post h1 {
  @apply underline underline-offset-4 font-semibold my-8 text-4xl;
  font-family: "Syne", sans-serif;
}

.post blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.post p {
  @apply text-xl;
  font-family: "Inter";
  color: hsl(var(--muted-foreground));
}

.post pre {
  @apply bg-card/20;
  font-family: "Victor Mono", sans-serif;
  @apply border-card-foreground;
  @apply p-4;
  border: 1px solid;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
